{% extends "base.html" %}

{% block content %}
  <main>
    <div class="container">
        <div class='table-responsive text-nowrap'>
            <h2>Order Summery</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Item Title</th>
                            <th scope="col">Price</th>
                            <th scope="col">Discount</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order.items.all %}
                            <tr>
                                <th scope="row">{{forloop.counter}}</th>
                                <td scope="row">{{item.item.title}}</td>
                                <td>{{item.item.price}}</td>
                                <td>
                                    {% if item.item.discount_price %}
                                        ${{item.item.discount_price}}
                                    {% else %}
                                        $0
                                    {% endif %}
                                </td>
                                <td>
                                    <a href='{% url 'core:remove-single-item-from-cart' item.item.slug %}'><i class="fas fa-minus mr-2"></i></a>
                                    {{item.quantity}}
                                    <a href='{% url 'core:add-to-cart' item.item.slug %}'><i class="fas fa-plus ml-2"></i></a>
                                </td>
                                <td>
                                    {% if item.item.discount_price %}
                                        ${{item.get_total_discount_items_price}}
                                        <span class="badge badge-primary">
                                            Saving ${{ item.get_ammount_saved }}
                                        </span>
                                    {% else %}
                                        ${{item.get_total_items_price}}
                                    {% endif %}
                                    <a style='color: red;' href="{% url 'core:remove-from-cart' item.item.slug %}">
                                        <i class="fas fa-trash float-right"></i>
                                    </a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan='5'>Your cart is empty</td>
                            </tr>
                            <tr>
                                <td colspan="6">
                                <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% if order.coupon.amount > 0 %}
                            <tr>
                                <td colspan="5"><b>Coupon</b></td>
                                <td><b>-${{ order.coupon.amount }}</b></td>
                            </tr>
                        {% endif %}
                        {% if order.get_total %}
                        <tr>
                            <td colspan="5" class="text-primary h3"><b>Order Total</b></td>
                            <td><b class="text-primary h3">${{order.get_total}}</b></td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <a class="btn btn-warning float-right ml-2" href='/checkout'>Proceed to checkout</a>

                                <a class="btn btn-info float-right mr-2" href='/'>Continu Shopping</a>
                            </td>
                        </tr>
                        {% endif %}
                        
                    </tbody>
                </table>
            
        </div>
    </div>
  </main>

{% endblock content %}


